.calc__container{
    width: 245px;
    height: 300px;
    background-color: #F1F2F3;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content:end;
    overflow:hidden;
}

.calc__input{
height:50px;
display:flex;
justify-content:center;
align-items:center;
color:whitesmoke;
background-color:gray;
text-align:center;
font-size:18px;
}

.calc__btn{
    display: grid;
    grid-template:repeat(5,50px)/repeat(4,60px);  
    column-gap:2px;
    row-gap:2px;
}

#item{
grid-column-start:4;
grid-row-start:6;
grid-row-end:2;
border-bottom-right-radius:15px;
  
}

.calc__btn button{
    background-color: #FFFFFF;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #E5E5E5
}

.calc__btn button:hover{
    cursor: pointer;
}

.operator-btn:active{
background-color: antiquewhite;
}

.clear:active{
background-color: antiquewhite;
}

.decimal{ 
  border-bottom-left-radius:15px;
}